* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    position: fixed;
    top: 10px;
    font-size: 30px;
    color: rgb(54, 53, 53);
}

.container {
    background-color: white;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}

.container h1 {
    margin-bottom: 30px;
    color: #333;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.options{
	flex-direction: column;
	line-height: 8vh;
}

.btn {
    padding: 12px 25px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

input{
	width: 50vh;
	height: 7vh;
	border: 1px solid #ccc;
	border-radius: 6px;	
}


.books-list {
    max-height: 300px;
    overflow-y: auto;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
}

.book-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #bbb;
    color: #333;
    font-size: 16px;
}

.book-item:last-child {
    border-bottom: none;
}

